.iniciosesion {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/97/11/74/9711746262e0b3094672cb90e91ff5cf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}